################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiMedication
/ApiMedication/bin/Debug/net6.0
/Debug
/Release
/ApiMedication/obj/Debug/net6.0
